html {
  font-size: 16px;
}

body {
  font-family: "Noto Serif JP", serif;
}

a[href^="tel:"] {
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  a[href^="tel:"] {
    pointer-events: auto;
  }
}

a {
  transition: opacity 0.3s;
}
a:hover {
  opacity: 0.7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

ul,
ol {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

img:not([alt]) {
  filter: blur(10px);
}

input,
button,
select,
textarea {
  font: inherit;
  border: none;
  border-radius: 0;
  outline: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.header {
  background-color: #ece9ed;
  padding-top: 40px;
  padding-left: 60px;
}
@media screen and (max-width: 768px) {
  .header {
    padding-top: 16px;
    padding-left: 20px;
  }
}

.header__title {
  font-size: 44px;
  font-weight: 700;
  color: #1d1635;
}
@media screen and (max-width: 768px) {
  .header__title {
    font-size: 20px;
  }
}

.service {
  padding-top: 70px;
  background-color: #ece9ed;
}
@media screen and (max-width: 768px) {
  .service {
    padding-top: 65px;
  }
}

.service__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .service__list {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
    margin-top: 32px;
  }
}

.service__item {
  position: relative;
}

.service__img {
  aspect-ratio: 53/38;
}

.service__text {
  font-size: 24px;
  color: #1d1635;
  background-color: rgba(255, 255, 255, 0.46);
  width: 220px;
  padding: 16px 12px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 768px) {
  .service__text {
    font-size: 20px;
  }
}
@media screen and (max-width: 375px) {
  .service__text {
    font-size: 16px;
    width: 136px;
    padding: 8.5px;
  }
}

.voice {
  padding-top: 120px;
  padding-bottom: 150px;
  background-color: #ece9ed;
}
@media screen and (max-width: 768px) {
  .voice {
    padding-top: 80px;
    padding-bottom: 90px;
  }
}

.voice__list {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(348px, 1fr));
  -moz-column-gap: 18px;
       column-gap: 18px;
  row-gap: 40px;
}
@media screen and (max-width: 768px) {
  .voice__list {
    margin-top: 46px;
    grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
  }
}
@media screen and (max-width: 375px) {
  .voice__list {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

.voice__item {
  position: relative;
  background-color: #fff;
  padding: 66px 40px 40px;
}
@media screen and (max-width: 768px) {
  .voice__item {
    padding: 50px 24px 24px;
  }
}

.voice__img {
  width: 60px;
  height: auto;
  border-radius: 9999px;
  position: absolute;
  top: -20px;
  left: 40px;
}
@media screen and (max-width: 768px) {
  .voice__img {
    width: 50px;
    top: -16px;
    left: 24px;
  }
}

.voice__text {
  font-size: 14px;
  color: #1d1635;
  line-height: 1.8571428571;
}

.footer {
  padding: 30px 0;
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 20px 0;
  }
}

.footer__copyright {
  font-size: 14px;
  color: #1d1635;
  display: block;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .footer__copyright {
    font-size: 12px;
  }
}

.inner {
  max-width: 1140px;
  padding-inline: 30px;
  margin-inline: auto;
}

.title {
  font-size: 60px;
  color: #1d1635;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 28px;
  }
}