@use "./base/base";
@use "./base/reset";
@use "./global" as *;

// header
.header {
  background-color: $gray;
  padding-top: 40px;
  padding-left: 60px;
  @include mq("md") {
    padding-top: 16px;
    padding-left: 20px;
  }
}

.header__title {
  font-size: 44px;
  font-weight: $bold;
  color: $black;
  @include mq("md") {
    font-size: 20px;
  }
}

// service
.service {
  padding-top: 70px;
  background-color: $gray;
  @include mq("md") {
    padding-top: 65px;
  }
}

.service__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 40px;
  @include mq("md") {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
    margin-top: 32px;
  }
}

.service__item {
  position: relative;
}

.service__img {
  aspect-ratio: 53/38;
}

.service__text {
  font-size: 24px;
  color: $black;
  background-color: rgba($color: $white, $alpha: 0.46);
  width: 220px;
  padding: 16px 12px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include mq("md") {
    font-size: 20px;
  }
  @include mq("sp") {
    font-size: 16px;
    width: 136px;
    padding: 8.5px;
  }
}

// 共通
.inner {
  max-width: 1080px + 30px * 2; // 1080px + 30px(左右のパディング) * 2
  padding-inline: 30px;
  margin-inline: auto;
}

.title {
  font-size: 60px;
  color: $black;
  text-align: center;
}
